entrypoint = "index.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[workflows]
runButton = "Run Frontend"

[[workflows.workflow]]
name = "Shell"
mode = "sequential"
author = 42442916

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm"

[[workflows.workflow]]
name = "Run Vue Frontend"
author = 42442916
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Run Vue Frontend"
author = 42442916
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Run Frontend"
author = 42442916
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm run dev"

[[workflows.workflow]]
name = "Run Backend"
author = 42442916
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python3 -m pip install -r requirements.txt && python3 -m uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

[[ports]]
localPort = 5000
externalPort = 8000

[[ports]]
localPort = 5001
externalPort = 80
